.admin_nav ul li
{
	width: 120px!important;
}
.button_add{
	cursor: pointer;
	border:none;
	width: 300px;
	height: 45px;
	border-radius: 8px;
	background-color: #2ec561;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	margin-top: 40px;
	margin-bottom: 20px;
}