@charset "utf-8";
/* CSS Document */
.main{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.department_nav ul{
    list-style: none;
    text-align: center;
    color: #333;
}
.department_nav ul li{
     color: #2ec561;
     float: left;
     width: 100px;
     margin: 3px 30px;
     padding: 5px 5px;
    cursor: pointer;
    
}
.department_nav ul li:hover{
    opacity: 0.7;
}
.xuan{
    background-color: #09ad41;
    color: #fff!important;
}
.fen{
    position: relative;
    top: 5px;
    border-color: #09ad41;
    clear: both;
}
.medicine{
    width: 300px;
    border: solid 1px #ccc;
    padding: 10px;
    margin: 5px 4px;
    border-radius: 5px;
    display: inline-block;
}
.name{
    color: #09ad41;
    font-size: 20px;
}
.guge span{
    display: block;
    margin:5px 0;
    font-size: 14px;
    color: #ccc;
}
.gouwu{
    margin-bottom: 5px;
    color: #999;
}
.gouwu input{
    margin-top:7px;
    width: 100px;
    color:#09ad41;
    border: solid 1px #eee;
    
}
.gouwu button{
    background-color: rgba(237,23,27,0.90);
    color: #fff;
    height: 30px;
    float: right;
}
.price{
    color: red;
    font-size: 16px;
    float: right;
}
.dis{
    font-size: 12px;
    color: rgba(239,161,75,1.00);
    margin-bottom: 5px;
}
.shopCar{
    position: fixed;
    top: 210px;
    left: 1230px;
}
.shopCar span{
   position: relative;
    top: -37px;
    left: -23px;
    color: #fff;
    font-size: 10px;

}
.listing{
    display: none;
    width: 400px;
    background-color: #fff;
    position: fixed;
    left: 842px;
    top: 234px;
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}
.listing div{
    margin: 8px;
}
.list_name{
  width: 200px;
  display: inline-block;
  color: #2ec561;
}
.list_num{
/*    margin-left: 80px;*/
    color: #999;
}
.list_price{
    float: right;
    color: rgba(235,18,22,1.00);
}
.sum{
    font-size: 20px;
    color: rgba(235,18,22,1.00);
}
.listing button{
    float: right;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(235,18,22,1.00);
    color: #fff;
}