
.title{
	font-size: 25px;
    color:#2ec561;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
}
.input_info
{
	font-size: 25px;
	line-height: 40px;
	width: 200px;
	display: inline-block;
	text-align: left;
	color: rgb(96,180,255);
}
.info{
    width:450px;
    text-align: center;
	color: #666;
	font-size: 16px;
}
.info input{
	width: 269.33px;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 30px;
    height: 25px;
    border-radius: 3px;
}
.name
{
   font-size: 25px;
   line-height: 40px;
    width: 130px;
    display: inline-block;
    text-align: left;
    color:#2ec561;
}
.select{
	width: 272px;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 30px;
	height: 35px;
	border-radius: 2px;
}
.button{
	margin-right: 150px;
    margin-left: 167px;
    width: 121.33px;
    margin-top: 0px;
    cursor: pointer;
    height: 35px;
    border-radius: 13px;
    background-color:#2ec561;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
}
.info{
	position: relative;
	left: 0;
}